﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <link rel="stylesheet" href="~/Content/Layout.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-xxr7CjFVlhGtJtY4X3l74g8+4DHUv4w4tbsW6OK6ovVc4Eyy3cU6WCGJbvv2nv8CIWYO27NapXK+Ar1/5ZVMmw==" crossorigin="anonymous" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav flex-grow-1">
                <li>@Html.ActionLink("YSoftHrSystem", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Tazminat Hesaplama", "ComputeCompensation", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Maaş Hesaplama", "ComputeSalary", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Hakkımızda", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("İletişim", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>

            <ul class="navbar-nav">
                @if (Session["UserId"] != null)
                {
                    <li><a class="logOutButton" href="@Url.Action("Logout", "Account")">Çıkış Yap</a></li>
                }
                else
                {
                    <li>@Html.ActionLink("Giriş Yap", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                }
                <li>@Html.ActionLink("Kayıt Ol", "Register", "Account", new { area = "" }, new { @class = "nav-link" })</li>
            </ul>
        </div>
    </nav>


    @RenderBody()
    <div class="container bodyFooter" id="tazminatContainer">

        @* Footer Başlangıcı *@
        <div class="container">
            <footer class="py-3 my-4">
                <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home", new { area = "" }, new { @class = "nav-link px-2 text-body-secondary" })</li>
                    <li>@Html.ActionLink("Tazminat Hesapla", "ComputeCompensation", "Account", new { area = "" }, new { @class = "nav-link px-2 text-body-secondary" })</li>
                    <li>@Html.ActionLink("Hakkımızda", "About", "Home", new { area = "" }, new { @class = "nav-link px-2 text-body-secondary" })</li>
                    <li>@Html.ActionLink("İletişim", "Contact", "Home", new { area = "" }, new { @class = "nav-link px-2 text-body-secondary" })</li>
                </ul>
                <p class="text-center text-body-secondary">© 2024 - CoreTeam</p>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>